:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  background: linear-gradient(
      270deg,
      rgba(225, 255, 255, 0.87),
      rgba(255, 255, 0, 1)
    )
    text;
  color: transparent;
  font-size: 2em;
  line-height: 1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.intro p {
  font-size: 3.2em;
  line-height: 1.1;
}

.intro p span {
  color: #ffff00;
}

#main-title {
  color: #fff;
  font-size: 2rem;
  outline: none;
  text-decoration: none;
  padding-bottom: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.socials a {
  width: 100%;
  height: 100%;
  outline: none;
  text-decoration: none;
  margin: 0 8px 0 8px;
}

.socials img {
  width: 50px;
  height: 50px;
  border: 0;
}

#scroll-down {
  background-image: url("twoforce.svg");
  width: 70.71px;
  height: 45.36px;
  margin-top: 26px;
}

#about-me {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

.photo {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #ffff00;
}

.photo img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

#info {
  text-align: center;
}

#info .name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 8px;
}

#info .city {
  font-size: 1rem;
  margin: 8px;
}

.content {
  max-width: 600px;
}

.content p {
  font-size: 16px;
  text-align: justify;
}

#career {
  display: none;
}

.bounce {
  animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
